.advantages {
  width: 100%;
}

.advantages__wrapper {
  max-width: 1322px;
  padding: 120px 50px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    padding: 80px 50px;
    padding-bottom: 75px;
  }

  @media (max-width: $mobile-width) {
    padding: 50px 25px;
    padding-bottom: 32px;
  }
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 35px;
  row-gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (max-width: $tablet-width) {
    margin-left: 0;
    column-gap: 27px;
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: 1fr;
  }
}

.advantages__item svg {
  color: $deep-sky-blue;
  margin-bottom: 15px;

  @media (max-width: $tablet-width) {
    margin-bottom: 9px;
  }
}

.advantages__item {
  padding: 40px 45px 35px;
  box-shadow: inset 5px 0 0 0 $deep-sky-blue;
  color: $deep-sky-blue;
  min-height: 300px;
  padding-right: 21px;

  @media (max-width: $tablet-width) {
    min-height: 360px;
    padding-right: 45px;
    padding-bottom: 29px;
  }

  @media (max-width: $mobile-width) {
    padding: 30px 30px 35px;
    min-height: 336px;
  }

  h3 {
    margin: 0;
    font-family: $roboto-condensed;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: inherit;
    margin-bottom: 15px;

    @media (max-width: $tablet-width) {
      margin-bottom: 8px;
    }

    @media (max-width: $mobile-width) {
      font-size: 20px;
      line-height: 28px;
    }
  }

  p {
    margin: 0;
    font-family: $pt-mono;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $black-pearl;

    @media (max-width: $mobile-width) {
      font-size: 14px;
      line-height: 19px;
    }
  }

  &:hover {
    background-color: $deep-sky-blue;
    color: $alice-blue;

    p {
      color: inherit;
    }

    svg {
      color: $alice-blue;
    }
  }
}
